---
layout: default
title: Home
---

<h3>a miscellaneous list</h3>
<a href="https://ameliachesley.hcommons.org/">an academic bio, of sorts</a>
<br/>
<br/>
<a href="https://plaidsicle.blogspot.com/">oldschool intermittent blogging</a>
<br/>
<br/>
<a href="https://plaidsicle.github.io/bad_ideas_about_writing/">the <em>Bad Ideas About Writing</em>: chapter by chapter project</a>
<br/>
<br/>
<a href="https://librivox.org/reader/10603">audiobook narration work</a>
<br/>
<br/>
<a href="https://plaidsicle.blogspot.com/p/a-spinning-wheel-project.html">a spinning wheel restoration project</a>
<br/>
<br/>
<a href="https://plaidsicle.github.io/podcast_transcript_database/">my podcast transcript database</a> (for <a href="https://sigdoc.acm.org/conference/2021/">SIGDOC 2021</a>)
<br/>
<br/>
<a href="https://scholar.google.com/citations?user=6SScViAAAAAJ&hl=en">my professional output according to google scholar</a>
<br/>
<br/>
<a href="https://bsky.app/profile/plaidsicle.bsky.social">oldschool intermittend microblogging (via bluesky)</a>
<br/>
<br/>  
<del><a href="https://twitter.com/plaidsicle">me + academic twitter</a></del>
<br/>
<br/>
<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
